site_name: eResearch Support
theme : 
  name: material
  custom_dir: overrides
  logo: "assets/images/UoO_Logo_RGB_Horz_Gold-REV.svg"
  favicon: "assets/images/uoo-favicon-32x32.png"
  font: 
    text: 'wickliffe-sans'
    code: 'Roboto Mono'
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
#    - navigation.expand # auto expands all sections
    - navigation.path
    - navigation.indexes
    - toc.follow

watch:
  - includes/

plugins:
  - search
  - awesome-nav
  - macros
  - include-markdown
  - table-reader
  - caption:
      table:
        enable: true
        caption_prefix: ''
        allow_indented_caption: false
        position: top

extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/neoteroi-mkdocs.css

markdown_extensions: 
  - abbr
  - attr_list
  - admonition
  - tables
  - footnotes
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - neoteroi.cards

extra:
  support_email: '<a href="mailto:rtis.support@otago.ac.nz">rtis.support@otago.ac.nz</a>'
  apptainer: "/getting_started/software/software_environments/self_managed/apptainer.md"
  nextflow: "/getting_started/workflows/nextflow.md"
  conda: "/getting_started/software/software_environments/self_managed/conda.md"
  spack: "/getting_started/software/software_environments/self_managed/spack.md"
  modules: "/getting_started/software/software_environments/modules/modules.md"
  sbgrid: "/getting_started/software/software_environments/self_managed/sbgrid.md"
  home_quota: "40 GB"
