.md-header {
    background-color: #060d87;
};

@font-face {
    font-family: "wickliffe-sans";
    /* src: url("../fonts/WickliffeSans-Regular.otf") format('opentype'); */
    src: url(https://www.otago.ac.nz/__data/assets/git_bridge/0013/1363/dist/mysource_files/WickliffeSansWEB-Regular..woff2) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "wickliffe-serif";
    src: url("https://www.otago.ac.nz/__data/assets/git_bridge/0013/1363/dist/mysource_files/WickliffeWEB-Regular..woff2") format("opentype");
    /* src: url("../fonts/Wickliffe-Regular.otf") format('opentype'); */
    font-weight: normal;
    font-style: normal;
  }

.md-header__topic {
    font-family: 'wickliffe-serif', sans-serif !important;
    font-size: 2em;
    color: white;
}


.md-nav--primary {
  border-left: #ee8a07 solid 3px;
}


.tabbed-set {
  border: 1px solid #317bff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5%;
}


li.md-nav__item--active:not(li.md-nav__item--nested) {
  font-weight: bold;
  }

.nt-card {
  background-color: #daebfc;
  border-radius: 5px;

}

/* :root {
    --md-text-font: "wickliffe-sans" !important;
    --md-heading-font: "wickliffe-serif" !important; 
  }

:body {
  --md-text-font: "wickliffe-sans" !important;
  --md-heading-font: "wickliffe-serif" !important; 
}

/* Ensure the entire page uses the font */
/*html, body, .md-typeset {
  font-family: 'wickliffe-serif', sans-serif !important;
} */

  .md-header__button.md-logo > img {
    
    height: 100px;
  }

  
  :root {
    --md-admonition-icon--terminal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M41.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 41.4 86.6zM288 416H576c17.7 0 32 14.3 32 32s-14.3 32-32 32H288c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>');
    --md-admonition-icon--overview: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%231f1f1f' viewBox='0 -960 960 960'%3E%3Cpath d='M280-600v-80h560v80H280Zm0 160v-80h560v80H280Zm0 160v-80h560v80H280ZM160-600q-17 0-28.5-11.5T120-640q0-17 11.5-28.5T160-680q17 0 28.5 11.5T200-640q0 17-11.5 28.5T160-600Zm0 160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520q17 0 28.5 11.5T200-480q0 17-11.5 28.5T160-440Zm0 160q-17 0-28.5-11.5T120-320q0-17 11.5-28.5T160-360q17 0 28.5 11.5T200-320q0 17-11.5 28.5T160-280Z'/%3E%3C/svg%3E");
    --md-admonition-icon--related-pages: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%231f1f1f' viewBox='0 -960 960 960'%3E%3Cpath d='M240-400h80q0-59 43-99.5T466-540q36 0 67 16.5t51 43.5h-64v80h200v-200h-80v62q-32-38-76.5-60T466-620q-95 0-160.5 64T240-400ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
    --md-admonition-icon--r-project: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 581 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M581 226.6C581 119.1 450.9 32 290.5 32S0 119.1 0 226.6C0 322.4 103.3 402 239.4 418.1V480h99.1v-61.5c24.3-2.7 47.6-7.4 69.4-13.9L448 480h112l-67.4-113.7c54.5-35.4 88.4-84.9 88.4-139.7zm-466.8 14.5c0-73.5 98.9-133 220.8-133s211.9 40.7 211.9 133c0 50.1-26.5 85-70.3 106.4-2.4-1.6-4.7-2.9-6.4-3.7-10.2-5.2-27.8-10.5-27.8-10.5s86.6-6.4 86.6-92.7-90.6-87.9-90.6-87.9h-199V361c-74.1-21.5-125.2-67.1-125.2-119.9zm225.1 38.3v-55.6c57.8 0 87.8-6.8 87.8 27.3 0 36.5-38.2 28.3-87.8 28.3zm-.9 72.5H365c10.8 0 18.9 11.7 24 19.2-16.1 1.9-33 2.8-50.6 2.9v-22.1z"/></svg>');
    --md-admonition-icon--r-code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 581 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M581 226.6C581 119.1 450.9 32 290.5 32S0 119.1 0 226.6C0 322.4 103.3 402 239.4 418.1V480h99.1v-61.5c24.3-2.7 47.6-7.4 69.4-13.9L448 480h112l-67.4-113.7c54.5-35.4 88.4-84.9 88.4-139.7zm-466.8 14.5c0-73.5 98.9-133 220.8-133s211.9 40.7 211.9 133c0 50.1-26.5 85-70.3 106.4-2.4-1.6-4.7-2.9-6.4-3.7-10.2-5.2-27.8-10.5-27.8-10.5s86.6-6.4 86.6-92.7-90.6-87.9-90.6-87.9h-199V361c-74.1-21.5-125.2-67.1-125.2-119.9zm225.1 38.3v-55.6c57.8 0 87.8-6.8 87.8 27.3 0 36.5-38.2 28.3-87.8 28.3zm-.9 72.5H365c10.8 0 18.9 11.7 24 19.2-16.1 1.9-33 2.8-50.6 2.9v-22.1z"/></svg>');
    --md-admonition-icon--python: url('data:image/svg+xml;charset=utf-9,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>');

  }
  .md-typeset .admonition.terminal,
  .md-typeset details.terminal {
    border-color: rgb(105,105,105);
  }
  .md-typeset .terminal > .admonition-title,
  .md-typeset .terminal > summary {
    color:rgb(255, 255, 255);
    background-color: rgba(105,105,105);
  }
  .md-typeset .terminal > .admonition-title::before,
  .md-typeset .terminal > summary::before {
    background-color: rgb(124,252,0);
    -webkit-mask-image: var(--md-admonition-icon--terminal);
            mask-image: var(--md-admonition-icon--terminal);
  }
  
  .md-typeset .admonition.overview,
  .md-typeset details.overview {
    border-color: rgb(72, 191, 191);
  }
  .md-typeset .overview > .admonition-title,
  .md-typeset .overview > summary {
    background-color: rgba(72, 191, 191, 0.1);
  }
  .md-typeset .overview > .admonition-title::before,
  .md-typeset .overview > summary::before {
    background-color: rgb(72, 191, 191);
    -webkit-mask-image: var(--md-admonition-icon--overview);
            mask-image: var(--md-admonition-icon--overview);
  }

  .md-typeset .admonition.related-pages,
  .md-typeset details.related-pages {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .related-pages > .admonition-title,
  .md-typeset .related-pages > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .related-pages > .admonition-title::before,
  .md-typeset .related-pages > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--related-pages);
            mask-image: var(--md-admonition-icon--related-pages);
  }

  .md-typeset .admonition.r-project,
  .md-typeset details.r-project,
  .md-typeset .admonition.r-code,
  .md-typeset details.r-code {
    border-color: rgb(135,206,235);
  }
  .md-typeset .r-project > .admonition-title,
  .md-typeset .r-project > summary {
    color:rgb(8, 8, 8);
    background-color: rgba(135,206,235);
  }
  .md-typeset .r-project > .admonition-title::before,
  .md-typeset .r-project > summary::before,
  .md-typeset .r-code > .admonition-title::before,
  .md-typeset .r-code > summary::before {
    background-color: rgb(25,25,112);
    -webkit-mask-image: var(--md-admonition-icon--r-project);
            mask-image: var(--md-admonition-icon--r-project);
  }

  .md-typeset .r-project > .admonition-title,
  .md-typeset .r-project > summary {
    color:rgb(135, 206, 235);
    background-color: rgba(135,206,235);
  }

  /* use for r-code for boxes when you want the title to be visible */
  .md-typeset .r-code > .admonition-title,
  .md-typeset .r-code > summary {
    color:rgb(0, 0, 0);
    background-color: rgba(135,206,235);
  }


  .md-typeset .admonition.python,
  .md-typeset details.python {
    border-color: rgb(112, 201, 10);
  }
  .md-typeset .python > .admonition-title,
  .md-typeset .python > summary {
    background-color: rgba(54, 143, 13, 0.459);
  }
  .md-typeset .python > .admonition-title::before,
  .md-typeset .python > summary::before {
    background-color: rgb(3, 116, 12);
    -webkit-mask-image: var(--md-admonition-icon--python);
            mask-image: var(--md-admonition-icon--python);
  }
  